template(name="autoEvent")
  .event
    if loaded
      h1= event.eventName
      section.event--content-wrapper.container-flex.no-break
        aside.event--filtration
          if noIncidents
            .veil
          +eventFiltration(
            filterQuery=filterQuery
            selectedIncidentTypes=selectedIncidentTypes)
        .event--content-container
          nav.event--navigation
            +eventNav route="auto-event" id=event._id
          .event--content
            if filterableView
              if noFilterMatches
                .veil.top-layer
                +eventNoResults noIncidents=noIncidents noFilterMatches=noFilterMatches
            +Template.dynamic template=template.name data=template.data
    else
      +loading
