template(name="smartEventSummary")
  section.event--details
    p.disease-name
      if smartEvent.diseases
        span= smartEvent.disease.text
      else
        span.not-available No disease available.
        if isInRole "admin"
          +editDetailsButton(target="#smart-event-modal" editing="disease")

    p.date-range
      if smartEvent.dateRange
        span {{formatDateRange dateRange}}
      else
        span.not-available No daterange selected.
        if isInRole "admin"
          +editDetailsButton(target="#smart-event-modal" editing="dateRange")

    p.locations
      if smartEvent.locations
        span=locationNames
      else
        span.not-available No locations selected.
        if isInRole "admin"
          +editDetailsButton(target="#smart-event-modal" editing="locations")

    if smartEvent.summary
      p.event--summary(class="{{#if collapsed}}collapsed{{/if}}")
        span= smartEvent.summary
    else
      p.event--summary.not-available
        span No summary available.
        if isInRole "admin"
          +editDetailsButton(target="#smart-event-modal" editing="summary")

    .secondary-content
      p Created by: #{createdByUserName} on {{formatDate smartEvent.creationDate}}
    .secondary-content
      p Last Modified by: #{lastModifiedByUserName} on
        | {{formatDate smartEvent.lastModifiedDate}}

    button.btn.btn-sm.btn-default.edit-event
      i.fa.fa-pencil
      | Edit Details
