template(name="smartEvent")
  .event
    if loaded
      h1= smartEvent.eventName
      if deleted
        .event--deleted
          h2 This event has been deleted
      else
        section.event--content-wrapper.container-flex.no-break
          aside.event--filtration
            +eventFiltration(
              filterQuery=filterQuery
              selectedIncidentTypes=selectedIncidentTypes)
          .event--content-container
            nav.event--navigation
              +eventNav smartEventId=smartEvent._id
            .event--content
              +Template.dynamic template=template.name data=template.data
    else
      +loading
