template(name="curatorInboxSection")
  if count
    .curator-inbox-section-head(tabindex="0")
      .date= formattedDate
      .count= countText
      .toggle
        i.fa(class="fa-chevron-circle-{{#if isOpen}}down{{else}}left{{/if}}")
    if isOpen
      +reactiveTable(
        collection=posts
        settings=settings
        selector=selector
        class="table table-hover curator-inbox-table")
