template(name="curatorInbox")
  .pane-container.curator-inbox
    .curator-inbox-header.pane-head.pane-head-l(
      class="{{#unless detailsInView }} on-canvas {{/unless}}")
      h2 Inbox
      .curator-inbox-options
        a.option.curator-filter-reviewed-icon.plain-focus(
          class="{{#unless reviewFilterActive}} active {{/unless}}"
          data-toggle="tooltip"
          title="Show/Hide Reviewed"
          tabindex="0")
          i.fa.fa-check-circle(aria-hidden="true")
        a.option.curator-filter-calendar-icon.plain-focus(
          class="{{#if calendarState}} active {{/if}}"
          data-toggle="tooltip"
          title="Filter by Date Range"
          tabindex="0")
          i.fa.fa-calendar(aria-hidden="true")
        +searchInput searchSettings

    .curator-inbox-sources.pane.pane-l.curator-inbox--pane(
      class="{{#if detailsInView}} off{{else}}on{{/if}}-canvas")
      .curator-inbox--feed-selector-wrapper.curator-source-details--header
        select.form-control.curator-inbox--feed-selector(
          data-toggle="tooltip"
          data-placement="bottom"
          title="Select a feed")
          each feeds
            option(value=_id selected="{{#if selectedFeed}} true {{/if}}")=title
      .curator-inbox-datepicker(class="{{#if calendarState}} active {{/if}}")
        #date-picker.inlineRangePicker
        .curator-inbox-datepicker--controls.container-flex.central.no-break
          button#calendar-btn-apply.btn.btn-primary(type="button") Apply
          if userHasFilteredByDate
            button#calendar-btn-reset.btn.btn-default(type="button") Reset
      if isReady
        .curator-inbox-source-list
          if articles.count
            each day in days
              +curatorInboxSection(
                date=day
                index=@index
                reviewFilter=reviewFilter
                textFilter=textFilter
                selectedSourceId=selectedSourceId
                currentPaneInView=currentPaneInView
                dateType=dateType)
          else
            +noResults message=noDocumentsMessage
      else
        +loading static=true
    #touch-stage.curator-source-details.pane.pane-r.curator-inbox--pane(
      class="{{#if detailsInView}} on{{else}}off{{/if}}-canvas")
      if isReady
        +curatorSourceDetails(
          selectedSourceId=selectedSourceId
          query=query
          currentPaneInView=currentPaneInView
          dateType=dateType)
    .curator-inbox-sources--back-to-top.off-canvas
      button.btn.btn-primary.btn-wide.back-to-top(
        class="{{#if detailsInView}} off{{else}}on{{/if}}-canvas"
        type="button")
        i.fa.fa-chevron-circle-up
        span Back to Top
