template(name="sourceIncidentReports")
  .curator-source-details--incidents(
    class="{{#unless tableContentIsScrollable}} no-scroll {{/unless}}")
      +incidentTable(
        source=source
        scrollToAnnotations=true
        accepted=true
        hideTableHeader=true
        tableContentScrollable=tableContentScrollable)
  .curator-source-details--incidents(
    class="{{#unless tableContentIsScrollable}} no-scroll {{/unless}}")
        +incidentTable(
          source=source
          scrollToAnnotations=true
          accepted=false
          hideTableHeader=true
          tableContentScrollable=tableContentScrollable)
