template(name="sourceIncidentReports")
  .curator-source-details--incidents-container
    if hasAcceptedIncidents
      .curator-source-details--incidents.accepted(
        class="{{#unless tableContentIsScrollable}} no-scroll {{/unless}}")
          +incidentTable(
            source=source
            scrollToAnnotations=true
            accepted=true
            hideTableHeader=true
            selectedAnnotationId=selectedAnnotationId
            tableContentScrollable=tableContentScrollable)
    else
      +noResults message='No Incidents Found'
