template(name="sourceIncidentReports")
  //- .curator-source-details--incidents-options
    //- ul.tabs
    //-   li(class="{{#if selectedIncidentTab 0}} active {{/if}}")
    //-     a(data-tab='0')
    //-       span
    //-         span Incidents
    //-   li(class="{{#if selectedIncidentTab 1}} active {{/if}}")
    //-     a(data-tab='1')
    //-       span
    //-         span Rejected
    //-         span Incidents
  div
    .incident-heading Accepted Incidents
    .curator-source-details--incidents(
      class="{{#unless tableContentIsScrollable}} no-scroll {{/unless}}")
        +incidentTable(
          source=source
          scrollToAnnotations=true
          accepted=true
          hideTableHeader=true
          tableContentScrollable=tableContentScrollable)
  div
    .incident-heading Rejected Incidents
    .curator-source-details--incidents(
      class="{{#unless tableContentIsScrollable}} no-scroll {{/unless}}")
          +incidentTable(
            source=source
            scrollToAnnotations=true
            accepted=false
            hideTableHeader=true
            tableContentScrollable=tableContentScrollable)
