template(name="sourceIncidentReportsHeader")
  .curator-source-details--sub-header
    button.btn.btn-sm.btn-danger.delete(
      disabled="{{#unless incidentsSelectedCount}} true {{/unless}}") Delete
    button.btn.btn-sm.btn-primary.show-addEvent(
      disabled="{{#unless incidentsSelectedCount}} true {{/unless}}") Add to Event
    button.btn.btn-sm.btn-default.select.on-right(
      disabled="{{#unless incidents.count}} true {{/unless}}"
      class="{{#if allSelected}} deselect-all {{else}} select-all {{/if}}")
      if allSelected
        | Deselect All
      else
        | Select All
  if addEvent
    +addToEvent(
      selectedIncidents=selectedIncidents
      tableContentScrollable=tableContentScrollable
      source=source
      objNameToAssociate="Incident")
