template(name="addGeonameModal")
  form#addGeonameModal.modal.modal-skinny.off-canvas--right(
    role="dialog"
    data-backdrop="false")
    .modal-dialog
      .modal-content

        .modal-header
          .modal-header--title
            h4 Add Geoname
          +modalCloseButton

        .modal-body
          .form-group.row
            .col-sm-8
              label(for="name") Location Name
              input.form-control(
                name="name"
                id="name"
                required)

          .form-group.row
            .col-sm-8
              label.control-label Most Specific Containing Location
              +locationSelect2(
                selectId="location-select2"
                multiple=false
                values=parentLocation
                required=true)

          .form-group.row
            .col-sm-12
              label.control-label Coordinates
              p Enter the location's coordinates or click a point on the map.
              +coordinateSelector(value=latLon required=true)

        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Close
          button.btn.btn-primary.save(type="submit") Save
