template(name="articles")
  .heading.container-fluid-padded
    h2
      i.i-doc
      span Event Documents
  .container-flex.no-gutter
    .flex-col.bordered
      if articles.count
        .tab-form.container-flex.no-border.break-2
          .flex-col
            +sourceModalButton
          .flex-col
            +searchInput searchSettings
        +reactiveTable collection=articles settings=getSettings

      else
        .col-lg-8
          p There are no documents currently associated with this event.
        .col-lg-4.col-sm-12
          +sourceModalButton
    .flex-col.event-sources-detail
      if selectedSource
        .event-sources-detail--header
          h4 {{selectedSourceTitle}}
        .container-flex.break-2
          ul.event-source-links.container-flex.list-unstyled.no-break
            if isInRole "admin"
              li.edit-source.link(
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Edit Document")
                span
                  i.fa.fa-edit(aria-hidden="true")
              li.delete-source.link(
                  class="{{#if eventHasArticleIncidents}}disabled{{/if}}"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-original-title="{{#if eventHasArticleIncidents}}This article has implied association through its incidents and cannot be removed {{else}} Remove from Event{{/if}}")
                span
                  i.fa.fa-trash(aria-hidden="true")
            li.link
              a.ref-link(
                class="{{#unless selectedSource.url}} show-document-text-modal {{/unless}}"
                href="{{#if selectedSource.url}} http://{{selectedSource.url}} {{/if}}"
                target="_blank"
                rel="noopener noreferrer"
                data-toggle="tooltip"
                data-placement="bottom"
                title="View Original Document")
                i.fa.fa-link(aria-hidden="true")
          ul.event-source-info.container-flex.list-unstyled.no-break
            if selectedSource.publishDate
              li Published on {{formatDate selectedSource.publishDate}}
            li Submitted by {{selectedSource.addedByUserName}} on {{formatDate selectedSource.addedDate}}
        .event-source-summary.container-flex
          if incidentsLoaded
            .event-source-summary--item
              h5
                | Locations
                span.count (#{locationsForDocument.length})
              ul.list-unstyled
                each locationsForDocument
                  li=this
                else
                  li No locations
            .event-source-summary--item
              h5
                | Incidents
                span.count (#{incidentsForDocument.count})
              ul.list-unstyled
                  each incidentsForDocument
                    li(class="{{#if incidentAssociatedWithEvent}} associated {{/if}}") {{incidentToText this}}
                  else
                    li No cases
          else
            +loading small=true
      else
        h4.make-selection Please select a document

template(name="articleSelect2")
  select.article-select2.form-control.select2(
    id="{{selectId}}"
    name="{{selectId}}"
    multiple="{{multiple}}"
    required
    data-parsley-errors-container=errorContainer
    data-parsley-class-handler=classHandler
    data-parsley-error-message=errorMessage)
    unless multiple
      option(value="")
    each articles
      option(value="{{_id}}") {{url}}

template(name="sourceModalButton")
  if isInRole "admin"
    button.btn.btn-primary(type="button" class="open-source-form#{class}")
      i.fa.fa-plus-circle(aria-hidden="true")
      | Add Document

template(name="documentTextModal")
  #document-text-modal.modal.fade.flex(role="dialog")
    .modal-dialog
      .modal-content
        +modalCloseButton
        .modal-header
          .modal-header--title
            h4=title
        .modal-body.clearfix
          p.document-text=text
