template(name="locationSelect2")
  +select2(
    name=name
    values=values
    selectId=selectId
    multiple=multiple
    placeholder='Search for a location...'
    optionsFn=locationsOptionsFn
    required=required
    controlTemplate=controlTemplate
    errorContainer=errorContainer
    classHandler=classHandler
    errorMessage=errorMessage
    selected=selected)

template(name="addLocationControl")
  .select2-results__additional-options
    button.btn.btn-default(type="button")
      | Add Unlisted Geoname
