template(name="incidentModal")
  .incident-report.modal.modal-skinny.flex(
    role="dialog"
    class=classNames)
    .modal-dialog
      .modal-content
        .modal-header
          +modalCloseButton
          .modal-header--title
            h4
              if edit
                | Edit
              else
                | Add
              |  Incident
        .modal-body
          +incidentForm(
            articles=articles
            incident=incident
            valid=valid
            parentModal=".incident-report")

        .modal-footer
          button.btn.btn-default.on-left(type="button" data-dismiss="modal") Cancel
          if edit
            button.btn.btn-danger.delete-incident(type="button") Delete
          button.btn.btn-primary.btn-wide.save-incident(type="button"
            disabled="{{#if submitting}} true {{/if}}") Save
