template(name="incidentTable")
  if incidents.length
    .curator-source-details--table-wrapper
      table.table.incident-table(
        class=tableType
        hidden=annotatedContentVisible
        data-tableexport-display="always")
        unless hideTableHeader
          thead
            tr
              th
              th.associations Events
              th.count-header Type
              th Dates
              th.locations-header Locations
        tbody
          each incidents
            tr(class="{{#if selected}} selected {{/if}} {{#if annotationSelected}} selected-annotation {{/if}}"
              data-incident-id=_id)
              if incidentEvents
                td.associations(
                  title="This has associated events. Click to see them.")
                  | #{incidentEvents.length}
                  i.fa.fa-tags(
                    aria-hidden="true")
              else
                td
              td
                span.select
              td {{incidentCountAndDisease this}}
              td.dates {{formatDateRange dateRange}}
              td #{firstLocation}
                if otherLocations
                  span.tooltipped(data-toggle="tooltip" title=otherLocations) other locations
              td.edit(title="Edit Incident")
  else
    +noResults message="No incidents found"
