template(name="incidentForm")
  form#add-incident(novalidate data-parsley-validate)
    label.control-label.featured.container-flex.no-break
      h5 Incident Details
    .add-incident--wrapper
      if documentId
        input(type="hidden" name="articleId" value=documentId)
      unless confirmation
        if incidentData.sourceFeed
          label Source Data Feed
          p
            a(href="{{formatUrl sourceFeed.url}}" target="_blank")= sourceFeed.title
        else
          if document
            .form-group.form-group--full
              +documentInputLabel
              .document
                a(href="{{formatUrl document.url}}" target="_blank") {{documentTitle document}}
          if addUrl
            .form-group.form-group--full.url-selector
              +documentInputLabel
              +articleSelect2(
                selectId="articleSource"
                articles=articles
                placeholder="Select a Document"
                errorContainer=".url-selector"
                classHandler=".url-selector"
                errorMessage="Please select a url.")

      if incidentSnippet
        p.incident-snippet=incidentSnippet

      .incident-type-wrapper.form-group.form-group--full.form-groups(class=incidentTypeClassNames)
        label.control-label.with-info-tooltip(
          data-toggle="tooltip"
          data-placement="right"
          title="Incidents are generally reports of case counts or death counts with an associated location and time. A free-text description of some other type of incident may be used instead.") Incident Type
        select(
          name="type"
          placeholder="Select a type").form-control.type
          each incidentTypes
            option(value=id selected=isSelectedIncidentType)=text

        p.example
          if eq incidentType "caseCount"
            i Example: 2 more people were infected on Monday.
          if eq incidentType "deathCount"
            i Example: 3 patients died in August.
          else if eq incidentType "cumulativeCaseCount"
            i Example: So far there have been a total of 6 cases.
          else if eq incidentType "cumulativeDeathCount"
            i Example: 4 people have died since the beginning of the outbreak.
          else if eq incidentType "activeCount"
            i Example: There are currently 16 people infected.
          else if eq incidentType "specify"
            span.space-btm-1

        if showCountForm
          .form-group.form-group--child
            label.control-label #{selectedIncidentType} Count
            input.form-control(
              name="count"
              type="number"
              min="0"
              value=incidentCount
              required
              tabindex="0")

        if showOtherForm
          .form-group.form-group--child
            label.control-label Specify Other
            input.form-control(
              name="specify"
              id="specify"
              type="text"
              required
              value=incidentSpecify
              tabindex="0")

        .form-group.form-group--child(hidden=typeIsNotSelected)
          label.control-label.with-info-tooltip(
            data-toggle="tooltip"
            data-placement="right"
            title='Approximate counts specify an imprecise number. E.g. "There were at least 100 deaths."'
          ) Count Attributes
          .container-flex.other-metadata.check-buttons.no-break

            .check-button
              input(
                type="checkbox"
                name="approximate"
                id="approximate"
                tabindex="-1"
                checked=incidentData.approximate)
              label.cumulative(for="approximate" tabindex="0") Approximate

      .form-group.incident--dates.full-width.with-tabs(class="{{suggestedField 'dateRange'}}")
        ul.tabs.tabs-traditional.tabs-secondary(role="tablist")
          li.with-info-tooltip.single-date(
            role="presentation"
            class="{{dayTabClass}}"
            data-toggle="tooltip"
            data-placement="top"
            title='For incidents that occurred on a precise date. E.g. "There were 2 new patients admitted on March 11."')
            a(
              href="#singleDate"
              aria-controls="single Date"
              role="tab"
              data-toggle="tab") Single Date
          if showRangeTab
            li.with-info-tooltip.date-range(
              role="presentation"
              class="{{rangeTabClass}}"
              data-toggle="tooltip"
              data-placement="top"
              title='For incidents that occurred over multiple days or for which a precise date is unspecified. E.g. "There were 5 cases in the month of March." The date range includes the final day in the range.')
              a(
                href="#preciseRange"
                aria-controls="date range"
                role="tab"
                data-toggle="tab") Date Range
          li.with-info-tooltip.no-date(
            role="presentation"
            class="{{noDateTabClass}}"
            data-toggle="tooltip"
            data-placement="top"
            title='For incidents where a date could not be determined.')
            a(
              href="#noDate"
              role="tab"
              data-toggle="tab") No Date

        .tab-content
          #singleDate.tab-pane(role="tabpanel" class="{{dayTabClass}}")
            #singleDatePicker.inlineRangePicker.centered

          #preciseRange.tab-pane(role="tabpanel" class="{{rangeTabClass}}")
            #rangePicker.inlineRangePicker.centered

      .form-group.form-group--full.location-group(class="{{suggestedField 'locations'}}")
        label.control-label.with-info-tooltip(
          data-toggle="tooltip"
          data-placement="right"
          title="Location where the incident occurred. If the most precise location is unavailable, use the location one administrative division above. E.g. if the city isn't listed use the state."
        ) Locations
        +locationSelect2(
          selectId="incident-location-select2"
          multiple=true
          values=locations
          required=false
          errorContainer=".location-group"
          classHandler=".location-group"
          errorMessage="Please select a location."
          allowAdd=true
          parentModal=parentModal)

      .form-group.form-group--full(class="{{suggestedField 'resolvedDisease'}}")
        label.control-label.with-info-tooltip(
          data-toggle="tooltip"
          data-placement="right"
          title="The disease that caused the cases or deaths.") Disease
        +select2(
          name="disease"
          selectId="incident-disease-select2"
          multiple=false
          placeholder="Select a disease"
          optionsFn=diseaseOptionsFn
          selected=incidentData.resolvedDisease)

      .form-group.form-group--full(class="{{suggestedField 'species'}}")
        label.control-label.with-info-tooltip(
          data-toggle="tooltip"
          data-placement="right"
          title="Species to which the case or death count pertains. This selector uses the taxonomy from http://www.itis.gov"
          ) Species
        +select2(
          name="species"
          selectId="incident-species-select2"
          multiple=false
          optionsFn=speciesOptionsFn
          selected=incidentData.species)

      .form-group.form-group--full.check-buttons(class="{{suggestedField 'status'}}")
        label.control-label.with-info-tooltip(
          data-toggle="tooltip"
          data-placement="right"
          title="Confirmation status of the incident. If unknown, leave blank."
        ) Status
        .container-flex.check-buttons.status.no-break
          .check-button
            input(
              type="radio"
              name="incidentStatus"
              id="suspected"
              value="suspected"
              tabindex="-1"
              checked="{{incidentStatusChecked 'suspected'}}")
            label(for="suspected" tabindex="0") Suspected
          .check-button
            input(
              type="radio"
              name="incidentStatus"
              id="confirmed"
              value="confirmed"
              tabindex="-1"
              checked="{{incidentStatusChecked 'confirmed'}}")
            label(for="confirmed" tabindex="0") Confirmed
          .check-button
            input(
              type="radio"
              name="incidentStatus"
              id="revoked"
              value="revoked"
              tabindex="-1"
              checked="{{incidentStatusChecked 'revoked'}}")
            label(for="revoked" tabindex="0") Revoked

      .form-group.form-group--full
        label.control-label Other Information
        .container-flex.other-metadata.check-buttons.no-break
          .check-button(class="{{suggestedField 'travelRelated'}}")
            input(
              type="checkbox"
              name="travelRelated"
              id="travelRelated"
              tabindex="-1"
              checked=incidentData.travelRelated)
            label.travel-related(for="travelRelated" tabindex="0") Travel Related

      button.hidden(type="submit" aria-hidden="true")

    if incidentData.addedDate
      .modification-date
        i Last Modified:
        if incidentData.modifiedDate
          span #{incidentData.modifiedDate}
        else
          span #{incidentData.addedDate}

      .incident-url
        i Incident URL:
        a(href="{{pathFor route='curator-inbox-article' articleId=incidentData.articleId incidentId=incidentData._id}}") {{urlFor route='curator-inbox-article' articleId=incidentData.articleId incidentId=incidentData._id}}

template(name="documentInputLabel")
  label.control-label.with-info-tooltip(
    data-toggle="tooltip"
    data-placement="right"
    title="URL of the document where the incident was reported."
  ) Document URL
