template(name="incidentTable")
  .curator-source-details--sub-header
    h3(class=tableType)=tableType
    .curator-source-details--actions.container-flex.no-break
      button.btn.btn-sm.action(
        disabled="{{#unless incidentsSelected}} true {{/unless}}"
        class="btn-{{#if acceptance}}success{{else}}danger{{/if}}") #{action} Incidents
      if accepted
        button.btn.btn-sm.btn-primary.show-addEvent(
          disabled="{{#unless incidentsSelected}} true {{/unless}}") Add Incidents to Event
      button.btn.btn-sm.btn-default.select.on-right(
        disabled="{{#unless incidents.count}} true {{/unless}}"
        class="{{#if allSelected}} deselect-all {{else}} select-all {{/if}}")
        if allSelected
          | Deselect All
        else
          | Select All
      if addEvent
        +addToEvent(
          selectedIncidents=selectedIncidents
          tableContentScrollable=tableContentScrollable
          source=source)
  if incidents.count
    .curator-source-details--table-wrapper
      table.table.incident-table(
        class=tableType
        hidden=annotatedContentVisible
        data-tableexport-display="always")
        unless hideTableHeader
          thead
            tr
              th
              th.count-header Type
              th.count-header Value
              th Start Date
              th End Date
              th.locations-header Locations
        tbody
          each incidents
            tr(class="{{#if selected}} selected {{/if}}")
              td
                span.select
              if cases
                td Case Count
                td(data-incident-id=_id)=cases
              else if deaths
                td Death Count
                td(data-incident-id=_id)=deaths
              else
                td Other
                td(data-incident-id=_id)=specify
              td
                unless dateRange.cumulative
                  | {{formatDateISO dateRange.start}}
              td {{formatDateISO dateRange.end}}
              td {{formatLocations locations}}
              td.edit(title="Edit Incident Report")
  else
    +noResults message="No incidents found"
