template(name="curatedEvent")
  .event
    if loaded
      h1= userEvent.eventName
      if deleted
        .event--deleted
          h2 This event has been deleted
      else
        section.event--content-wrapper.container-flex
          aside.event--filtration
            +eventFiltration filterQuery=filterQuery
          .event--content-container
            nav.event--navigation
              +eventNav userEventId=userEvent._id
            .event--content
              +Template.dynamic template=template.name data=template.data
    else
      +loading
