template(name="curatedEvent")
  .event
    unless loaded
      .veil
      +loading
    h1= userEvent.eventName
    if deleted
      .event--deleted
        h2 This event has been deleted
    else
      section.event--content-wrapper.container-flex.no-break
        aside.event--filtration
          +eventFiltration(
            filterQuery=filterQuery
            selectedIncidentTypes=selectedIncidentTypes)
        .event--content-container
          nav.event--navigation
            +eventNav userEventId=userEvent._id
          .event--content
            if showNoResults
              .veil.modal-layer
              +noResults message=noResultsMessage classNames=classNames
            +Template.dynamic template=template.name data=template.data
