template(name="eventFiltration")
  .filtration--header
    h2 Filter
    button.btn.xs-btn.btn-default.clear-filters.on-right(
      disabled="{{#unless filtering}}disabled{{/unless}}") Clear

  section.filtration--property.date-range(
    class="{{#unless hasDateRange}} disabled {{/unless}}")
    h3 Date Range
    +slider sliderData
    .daterange-wrapper
      .daterange
        i.fa.fa-calendar
        input.form-control.daterange-input(type="text")

  section.filtration--property.type
    h3 Types
    .check-buttons.container-flex
      each typeProps
        +filterCheckButton(
          className=this
          type="checkbox"
          name=this
          propPrex=propPrex
          title=this)

  section.filtration--property.status
    h3 Status
    .check-buttons.container-flex
      each statusProps
        +filterCheckButton(
          type="checkbox"
          name=this
          propPrex=propPrex
          title=this
          showtooltip=true)

  section.filtration--property.locations
    h3 Locations
    select.form-control
      each locationLevels
        option(value=prop)=name

    .option-list--wrapper
      ul.list-unstyled.option-list.location-list
        each locations
          li
            i.fa(class="fa-{{#if locationSelected}}check-circle{{else}}circle-o{{/if}}")
            span=locationName
        else
          p.emphasized No locations

    .actions
      a.deselect-all(class="{{#if noLocationsSelected}}disabled{{/if}}") Deselect All

  section.filtration--property.species
    h3 Species

    .option-list--wrapper
      ul.list-unstyled.species-list.option-list
        each speciesList
          li
            i.fa(class="fa-{{#if speciesSelected}}check-circle{{else}}circle-o{{/if}}")
            span=label
        else
          p.emphasized No species

    .actions
      a.deselect-all(class="{{#if noSpeciesSelected}}disabled{{/if}}") Deselect All

  section.filtration--property.other-properties
    h3 Other Properties
    .check-buttons.container-flex
      +filterCheckButton(
        type="checkbox"
        name="travelRelated"
        propPrex=propPrex
        title= "Travel Related"
        showtooltip=true)
