template(name="eventFiltration")
  .filtration--header
    h2 Filter
    button.btn.xs-btn.btn-default.clear-filters.on-right(
      disabled="{{#unless filtering}}disabled{{/unless}}") Clear

  section.filtration--property.date-range(
    class="{{#unless hasDateRange}} disabled {{/unless}}")
    h3 Date Range
    +slider sliderData
    .dates.container-flex.form-group
      .date
        label Start Date
        input.form-control.start-date(type="text")
      .date
        label End Date
        input.form-control.end-date(type="text")

  section.filtration--property.type
    h3 Types
    .check-buttons.container-flex
      each typeProps
        .check-button
          input(
            type="checkbox"
            name="#{propPrex}#{this}"
            id="#{propPrex}#{this}"
            tabindex="-1")
          label(for="#{propPrex}#{this}" tabindex="0")=this

  section.filtration--property.status
    h3 Status
    .check-buttons.container-flex
      each statusProps
        .check-button
          input(
            type="checkbox"
            name="#{propPrex}#{this}"
            id="#{propPrex}#{this}"
            tabindex="-1")
          label(for="#{propPrex}#{this}" tabindex="0")=this

  section.filtration--property.locations
    h3 Locations
    select.form-control
      each locationLevels
        option(value=prop)=name

    .location-list--wrapper
      ul.list-unstyled.location-list
        each locations
          li
            i.fa(class="fa-{{#if locationSelected}}check-circle{{else}}circle-o{{/if}}")
            span=locationName
        else
          p.emphasized No locations

    .actions
      a.select-all(class="{{#if allLocationsSelected}}disabled{{/if}}") Select All
      a.deselect-all(class="{{#if noEventsSelected}}disabled{{/if}}") Deselect All

  section.filtration--property.other-properties
    h3 Other Properties
    .check-buttons.container-flex
      .check-button
        input(
          type="checkbox"
          name='#{propPrex}travelRelated'
          id='#{propPrex}travelRelated'
          tabindex="-1")
        label(for='#{propPrex}travelRelated' tabindex="0") Travel Related
