template(name="eventIncidentReports")
  .container-flex.no-gutter.event--incidents
    .flex-col.bordered
      .tab-form.container-flex.break-2
        if isUserEvent
          +addIncidentReport incidentReportData
        button.open-download-csv.right-action.btn.btn-primary.btn-sm(
          disabled="{{#if preparingData}}disabled{{/if}}"
          type="button")
          i.fa(class="fa-{{#if preparingData}}cog fa-spin{{else}}download{{/if}}")
          span Export
      if isRendering
        .veil
        +loading small=true
      if incidents.count
        +reactiveTable collection=incidents settings=tableSettings
      else
        p.center-position No incidents are associated with this event.
    .flex-col
      .chart
        if isRendering
          .veil
          +loading small=true
        #scatterPlot-toolbar.container-flex.no-break
          .flex-col
            button#scatterPlot-toggleCumulative.btn.btn-xs.btn-default.scatterPlot-toolbar-button
              i.fa.fa-circle-o(aria-hidden="true")
              span Cumulative
          if plotZoomed
            .flex-col.on-right.items-right
              button#scatterPlot-resetZoom.btn.btn-xs.btn-default.scatterPlot-toolbar-button
                i.fa.fa-search-plus(aria-hidden="true")
                span Reset
        +scatterPlotPopup options=popupOptions
        #scatterPlot
