template(name="eventNav")
  ul.list-unstyled
    li(class="{{checkActive 'estimated-epi-curves'}}")
      a.estimated-epi-curves(href="{{pathFor route=route _id=id _view='estimated-epi-curves'}}")
        span
          i.fa.fa-area-chart
          span Estimated Epi Curves
    li(class="{{checkActive 'incidents'}}")
      a.incidents(href="{{pathFor route=route _id=id _view='incidents'}}")
         span
           i.i-incident
           span Incidents
    li(class="{{checkActive 'affected-areas'}}")
      a.affected-areas(href="{{pathFor route=route _id=id _view='affected-areas'}}")
        span
          i.fa.fa-globe
          span Affected Areas
    li(class="{{checkActive 'eventFeeds'}}")
      a.event-feeds(href="{{pathFor route=route _id=id _view='eventFeeds'}}")
        span
          i.fa.fa-rss
          span Feeds
    li.on-right
      ul.list-unstyled
        li(class="{{checkActive 'details'}}")
          a.details(href="{{pathFor route=route _id=id _view='details'}}")
            span
              i.fa.fa-info-circle
              span Details
        if showReferences
          li(class="{{checkActive 'references'}}")
            a.references(href="{{pathFor route=route _id=id _view='references'}}")
              span
                i.fa.fa-book
                span References
