template(name="eventFiltration")
  .filtration--header
    h2 Filter

  section.filtration--property.type
    h3 Types
    .check-buttons.container-flex
      each typeProps
        .check-button
          input(
            type="checkbox"
            name=this
            id=this
            value=this
            tabindex="-1"
            checked)
          label(for=this tabindex="0")=this

  section.filtration--property.status
    h3 Status
    .check-buttons.container-flex
      each statusProps
        .check-button
          input(
            type="checkbox"
            name="status"
            id=this
            value=this
            tabindex="-1"
            checked)
          label(for=this tabindex="0")=this
