template(name="scatterPlotPopup")
  .anchor
    .scatterPlot-tooltip(style="left:#{left}px;right:#{right}px;top:#{top}px;" hidden=hidden)
      each incidents
        .report.view-incident
          p
            i.fa.fa-circle(class=type)
            span.count {{ incidentCount this }}
            span {{ formatLocations locations }}
          p
            span.dates {{ formatDateRange dateRange }}
